body {
    font-family: 'Quicksand', sans-serif;
    background: wheat;
}
.wrapper {
    display: flex;
    flex-direction: column;

    h1 {
        text-align: center;
    }

    .logo {
        padding: 1em;
        align-self: center;
        .inner {
            display: flex;
            width: 10em;
            height: 10em;
            justify-content: center;
            align-items: center;
            background: white;
            border-radius: 100%;
            flex-grow: 0;
        }
    }
    .social {
        font-size: 2em;
        a {
            text-decoration: none;
        }
    }
    a {
        &:link {
            color: gray;
        }
        &:visited {
            color: gray; 
        }
        &:hover,
        &:active {
            color: black;
        }
    }

    .gray {
        color: gray;
    }

    @media (min-width: 576px) {
        flex-direction: row;
        h1 {
            text-align: left;
        }
        .logo {
            align-self: flex-start;
        }
    }
}